/*+clearfix {*/
#content .candidate .top-content:after, #content .candidate .middle-content:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
#content .candidate .top-content, #content .candidate .middle-content
{
	display: inline-block;
}
#content .candidate .top-content, #content .candidate .middle-content
{
/*\*/
	display: block;
/**/
	-height: 1px;
}
/*+}*/
BODY
{
	padding-top: 60px;
	padding-bottom: 40px;
}
.sidebar-nav
{
	padding: 9px 0;
}
.lazy
{
	display: none;
}
/*## NO MEDIA QUERY SUPPORT*/
.no-mediaqueries .container-fluid
{
	min-width: 980px;
}
/*### TOP NAVBAR*/
.navbar-fixed-top .container-fluid H1
{
	margin: 0;
	line-height: 1;
}
/*### SIDEBAR*/
#left-sidebar
{
}
#left-sidebar .sidebar-nav
{
	/*+box-sizing:border-box;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
}
#left-sidebar .sidebar-nav LEGEND
{
	line-height: 1.1;
	margin: 0.5em 0;
}
#left-sidebar .sidebar-nav INPUT
{
	width: 80%;
}
#left-sidebar .sidebar-nav .form-actions
{
	margin: 1em 0;
	padding: 0.7em 0 0 0.5em;
}
#left-sidebar .sidebar-nav .form-actions BUTTON
{
	margin: 5px 8px 5px 0px;
}
/*### TWEET FLOW*/
#tweet-flow
{
	margin-bottom: 1em;
}
#tweet-flow > H3
{
	font-family: Telex, sans-serif;
	font-weight: normal;
	font-size: 1.4em;
	line-height: 1.2;
	margin: 1em 0 0;
	color: inherit;
}
/*twitter wall widget */
#twtr-widget-1 .twtr-bd .twtr-timeline
{
	height: 400px;
}
#twtr-widget-1 .twtr-tweet-wrap .twtr-avatar
{
	float: left;
	height: auto;
	width: auto;
	margin-right: 5px;
	margin-top: 3px;
}
#twtr-widget-1 .twtr-tweet-wrap .twtr-tweet-text
{
	margin-left: 0;
}
/*### CONTENT*/
#content .candidate
{
	position: relative;
	height: 210px;
	width: 31.3333333%;
	float: left;
	padding: 0;
	margin: 0 1% 20px;
	/*+box-sizing:border-box;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background-color: #FFF;
	/*[disabled]z-index:1;*/
}
#content .candidate > DIV
{
	padding: 0 10px;
	/*[disabled]z-index:1;*/
}
/*
#content .candidate:hover
{
font-size: 110%;
z-index: 1000;
-moz-transform: scale(1.1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-webkit-transform: scale(1.1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-o-transform: scale(1.1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-ms-transform: scale(1.1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
transform: scale(1.1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}
*/
#content .candidate H2
{
	margin: 0 0 5px;
	padding: 10px 10px 5px;
	border-bottom: 1px solid #DDDDDD;
	color: #00222F;
	background-color: #F5F5F5;
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1;
	/*+border-radius:4px 4px 0 0;*/
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-khtml-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
/*[clearfix]*/#content .candidate .top-content
{
	clear: both;
	line-height: 1.4em;
	height: 20px;
	margin: 0.5em 0 1em;
}
#content .candidate .top-content .twitter
{
	float: left;
	color: #00ACEE;
	font-size: 1em;
	display: block;
	font-family: Telex, sans-serif;
	font-weight: bold;
	letter-spacing: 0.05em;
}
#content .candidate .top-content .twitter IMG
{
	margin-right: 4px;
}
#content .candidate .top-content .counter
{
	float: right;
	display: block;
	margin-left: 5px;
	color: inherit;
	cursor: help;
	text-decoration: none;
}
#content .candidate .top-content .counter SPAN
{
	background: transparent url(../images/everything-spritev2.png) no-repeat -17px 0px;
	width: 16px;
	height: 16px;
	display: block;
	float: left;
}
#content .candidate .top-content .counter.retweet SPAN
{
	background-position: -96px 0px;
}
/*[clearfix]*/#content .candidate .middle-content
{
	clear: both;
	margin: 1em 0;
}
#content .candidate .middle-content IMG.photo
{
	width: 73px;
	height: 73px;
	float: left;
	margin-right: 5px;
}
#content .candidate .middle-content UL
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	list-style-image: none;
	font-size: 0.9em;
}
#content .candidate .middle-content UL LI
{
	line-height: 1em;
	margin: 0.8em 0 0;
}
#content .candidate .middle-content UL LI A
{
	margin-left: 0;
	text-decoration: none;
}
#content .candidate .middle-content UL LI A I
{
	float: left;
	margin-right: 3px;
}
#content .candidate .bottom-content
{
	position: absolute;
	bottom: 7px;
	right: 0;
	left: 0;
}
#content .candidate .bottom-content .more
{
	position: absolute;
	top: 7px;
	left: 10px;
}
#content .candidate .bottom-content .more > A
{
}
#content .candidate .bottom-content .tweet-count
{
	position: absolute;
	top: 7px;
	right: 85px;
	font-weight: bold;
}
#content .candidate .bottom-content .tweet-count A
{
	color: inherit;
	cursor: help;
	text-decoration: none;
}
/*# popover (more)*/
#content .candidate .popover
{
	width: 180px;
}
#content .candidate .popover .popover-inner
{
}
#content .candidate .popover .popover-inner .popover-content
{
}
/*### FOOTER*/
FOOTER
{
	text-align: center;
}
