@media (min-width: 1900px) 
{
    /* MEDIA QUERY DEBUG */
    /* body::after{ content: "Tablet media query (> 1400px) fired"; font-weight: bold; display: block; text-align: center; background: rgba(255,255,0, 0.9); position: fixed; bottom: 0; left: 0; right: 0; z-index: 99; } /* */
    #content .candidate
    {
        width: 19%;
        margin-right: 0.5%;
        margin-left: 0.5%;
    }

}

@media (min-width: 1400px) and (max-width: 1899px)
{
    /* MEDIA QUERY DEBUG */
    /* body::after{ content: "Tablet media query (> 1400px) fired"; font-weight: bold; display: block; text-align: center; background: rgba(255,255,0, 0.9); position: fixed; bottom: 0; left: 0; right: 0; z-index: 99; } /* */
    #content .candidate
    {
        width: 23%;
    }

}

@media (min-width: 980px) and (max-width: 1399px) 
{
    /* MEDIA QUERY DEBUG */
    /* body::after{ content: "Tablet media query (980px <> 1399px) fired"; font-weight: bold; display: block; text-align: center; background: rgba(255,255,0, 0.9); position: fixed; bottom: 0; left: 0; right: 0; z-index: 99; } /* */
        
}


@media (max-width: 979px)
{
    /* MEDIA QUERY DEBUG */
    /* body::after{ content: "Media query (< 768) fired"; font-weight: bold; display: block; text-align: center; background: rgba(255,255,0, 0.9); position: fixed; bottom: 0; left: 0; right: 0; z-index: 99; } /* */
    body {
        padding-top: 0;
    }
    #fork-me {
        display: none;
    }
    #content .candidate
    {
        width: 48%;
        margin-right: 2%;
        margin-left: 0;
    }
    #content .candidate:nth-of-type(2n)
    {
        margin-left: 2%;
        margin-right: 0;
    }
}

@media (min-width: 768px) and (max-width: 979px)
{
    /* MEDIA QUERY DEBUG */
    /* body::after{ content: "Tablet media query (768px <> 979px) fired"; font-weight: bold; display: block; text-align: center; background: rgba(255,255,0, 0.9); position: fixed; bottom: 0; left: 0; right: 0; z-index: 99; } /* */

}

@media (max-width: 480px) {
    /* MEDIA QUERY DEBUG */
    /* body::after{ content: "Media query (< 480) fired"; font-weight: bold; display: block; text-align: center; background: rgba(255,255,0, 0.9); position: fixed; bottom: 0; left: 0; right: 0; z-index: 99; } /* */
    #content .candidate
    {
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
